.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.word {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: '...';
}

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  padding: 0;
  color: #4d4d4d;
}

#title {
  text-align: center;
  color: #4d4d4d;
  text-transform: uppercase;
  font-size: 40px;
  text-shadow: 2px 3px rosybrown;
}

#joke {
  border-collapse: collapse;
  border: 3px solid #ddd;

}

#joke td,
#joke th {
  border: 1px solid #ddd;
  padding: 12px;
}

#joke tr:hover {
  background-color: #ddd;
}

#joke th {
  padding: 10px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

#form {
  padding: 10px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

#joke td {

  text-align: left;

}
.option {
  text-align: center;
}

.button_delete {
  border: none;
  outline: none;
  font-size: 11px;
  font-family: "Quicksand", sans-serif;
  color: #f44336;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f44336;
  background-color: transparent;
}

.button_change {
  border: none;
  outline: none;
  font-size: 11px;
  font-family: "Quicksand", sans-serif;
  color: #5d7adb;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #5d7adb;
  background-color: transparent;
}

.button:active {
  border: 1px solid blue;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
